@layer base {
  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-inter text-black-dark leading-normal tracking-wide font-bold;
  }

  h1 {
    @apply text-3xl md:text-7xl;
  }

  h2 {
    @apply text-2xl md:text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-xl;
  }

  h1,
  h2 {
    @apply mb-6;
  }

  h3,
  h4 {
    @apply mb-4;
  }

  p {
    @apply text-black text-sm md:text-base mb-4;
  }
}

@layer utilities {
  .p-md {
    @apply text-xl;
  }

  .p-sm {
    @apply text-lg;
  }
}
