@layer components {
  .btn {
    @apply rounded-md text-center justify-center text-base font-semibold px-10 py-4 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2  transition duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600 active:bg-blue-900;
  }

  .btn-secondary {
    @apply text-blue-500 bg-blue-100 hover:bg-blue-200 active:bg-blue-300 dark:bg-black-dark dark:text-black-light;
  }

  @variants responsive {
    .btn-lg {
      @apply px-20 py-5 text-xl;
    }
  }

  .btn-icon {
    @apply flex items-center;
  }

  .btn-icon > svg {
    @apply w-8 h-8;
  }

  .btn-icon > *:first-child {
    @apply mr-2;
  }

  .link {
    @apply text-xl text-blue-500 flex items-center active:text-blue-700 visited:text-blue-700;
  }

  .link > svg {
    @apply w-8 h-8 ml-2;
  }
}
